* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  max-width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: rgb(253, 208, 5);
}
section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 4rem;
}
.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgb(253, 208, 5);
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.dark-theme-btn:hover {
  background-color: black;
  color: rgb(253, 208, 5);
}


/* Para realizar los cambios necesitamos una clase de la cual se encargara de los estilos del modo dark */
.dark-mode {
  background-color: #333;
  color: rgb(253, 208, 5);
}
